version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
- package-ecosystem: "github-actions"
  directory: "/"
  schedule: 
    interval: weekly
  groups:
    github-actions:
      patterns:
        - "*"
- package-ecosystem: npm
  directory: "/build/npm"
  schedule:
    interval: weekly
  groups:
    build-npm:
      patterns:
        - "*"
- package-ecosystem: pip
  directory: "build/pip"
  schedule:
    interval: weekly
  groups:
    build-python:
      patterns:
        - "*"
