version: 1.0.{build}
clone_folder: c:\gopath\src\github.com\getgauge\gauge
init:
- ps: >-
    Add-Type -AssemblyName System.IO.Compression.FileSystem
        if (!(Test-Path -Path "C:\maven" )) {
        (new-object System.Net.WebClient).DownloadFile('http://www.us.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip', 'C:\maven-bin.zip')
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
        }
environment:
  GOPATH: c:\gopath
build_script:
- ps: >-
    $env:Path = "$env:GOPATH\bin;" + [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")


    go get github.com/tools/godep


    godep restore

    go test ./...


    go get github.com/getgauge/gauge
test_script:
- ps: >-
    git clone --depth=1 https://github.com/getgauge/gauge-tests ../gauge-tests

    cd ../gauge-tests


    gauge install


    mvn -q clean install -Denv=ci-java -DinParallel=false


    $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\reports-java\xml-report\result.xml))