name: Brew deploy
# on:
#   release:
#     types: [published]

on: repository_dispatch

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - name: Switch to $GITHUB_REF
        uses: actions/checkout@v1

      - name: Set gauge version
        run: |
          gauge_version=`git describe --abbrev=0 --tags | sed 's/[a-z\/]*//g'`
          echo "::set-env name=GAUGE_VERSION::$gauge_version"
      - name: Install hub
        run: |
          brew install hub

      - name: Update brew formula
        env:
          HOMEBREW_GITHUB_USER_NAME: ${{ secrets.HOMEBREW_GITHUB_USER_NAME }}
          HOMEBREW_GITHUB_USER_EMAIL: ${{ secrets.HOMEBREW_GITHUB_USER_EMAIL }}
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
        run: |
          cd build/brew
          bash create_brew_pr.sh
