name: Debian deploy
on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Switch to $GITHUB_REF
        uses: actions/checkout@v1

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Prepare deb artifact
        run: |
          build/mkdeb.sh

      - name: Deploy debian
        env:
          REPO: gauge-deb
          PACKAGE: gauge
          DISTRIBUTIONS: nightly
          COMPONENTS: main
          USER: ${{ secrets.BINTRAY_API_USER }}
          API_KEY: ${{ secrets.BINTRAY_API_KEY }}
          PASSPHRASE: ${{ secrets.BINTRAY_GPG_SIGNING_PASSPHRASE }}
        run: |
          cd deploy
          sh ../build/publish_deb_to_bintray.sh