name: Deploy

on: deployment

permissions:
  contents: read

jobs:
  package:
    if: github.event.deployment.environment == 'production'
    name: Create package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Compile gauge
        run: go run build/make.go --all-platforms  --skip-windows

      - name: Create distro
        run: |
          go run build/make.go --distro --all-platforms --skip-windows

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: gauge-non-windows-artifact
          path: ./deploy

  windows-package:
    name: Create windows package
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Compile gauge
        run: |
          go run build/make.go --verbose --all-platforms
          Get-ChildItem -Recurse .\bin

      - name: Install NSIS
        env:
          NSIS_VERSION: '3.11'
        run: |
          Invoke-WebRequest "https://sourceforge.net/projects/nsis/files/NSIS%203/${env:NSIS_VERSION}/nsis-${env:NSIS_VERSION}.zip/download" -UserAgent "PowerShell" -Outfile "./nsis.zip"
          Expand-Archive -LiteralPath ./nsis.zip -DestinationPath "${env:ProgramFiles(x86)}\"
          Invoke-WebRequest "https://sourceforge.net/projects/nsis/files/NSIS%203/${env:NSIS_VERSION}/nsis-${env:NSIS_VERSION}-strlen_8192.zip/download" -UserAgent "PowerShell" -Outfile "./nsis-8192.zip"
          Expand-Archive -Force -LiteralPath ./nsis-8192.zip -DestinationPath "${env:ProgramFiles(x86)}\nsis-${env:NSIS_VERSION}\"
          echo "${env:ProgramFiles(x86)}\nsis-${env:NSIS_VERSION}" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Create Distro
        run: |
          go run build/make.go --distro --bin-dir bin\windows_amd64
          go run build/make.go --distro --bin-dir bin\windows_386

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: gauge-windows-artifact
          path: ./deploy
  
  gauge-version:
    name: Upload gauge version
    runs-on: ubuntu-latest
    needs: [package, windows-package]
    env:
      GITHUB_TOKEN: '${{ secrets.GAUGEBOT_GITHUB_TOKEN }}'
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: gauge-non-windows-artifact
          path: ./deploy
      
      - name: fetch gauge version
        run: |
          cd deploy
          version=$(ls gauge-*-linux.x86.zip |  sed 's/gauge-//' | sed 's/-linux.*//')
          if [ -z "$version" ]; then
              echo "Gauge version is not set"
              exit 1
          fi
          echo $version > ../version.txt
      
      - name: upload gauge version
        uses: actions/upload-artifact@v5
        with:
          name: gauge-version
          path: ./version.txt

  github-release:
    runs-on: ubuntu-latest
    needs: [gauge-version]
    env:
      GITHUB_TOKEN: '${{ secrets.GAUGEBOT_GITHUB_TOKEN }}'
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: gauge-non-windows-artifact
          path: ./deploy

      - uses: actions/download-artifact@v6
        with:
          name: gauge-windows-artifact
          path: ./deploy

      - name: Fetch gauge version
        uses: actions/download-artifact@v6
        with:
          name: gauge-version
          path: .

      - name: Set gauge version
        run: echo "GAUGE_VERSION=`cat version.txt`" >> $GITHUB_ENV

      - name: update release note
        run: |
          echo "---------------------------"
          echo "Creating release v$version"
          echo "---------------------------"

          cd deploy
          echo -e "Gauge v$GAUGE_VERSION\n\n" > desc.txt
          release_description=$(ruby -e "$(curl -sSfL https://github.com/getgauge/gauge/raw/master/build/create_release_text.rb)" getgauge gauge)
          echo "$release_description" >> desc.txt
          gh release create --title "Gauge v$GAUGE_VERSION" --notes-file ./desc.txt "v$GAUGE_VERSION" ./gauge-*


  pypi-release:
    runs-on: ubuntu-latest
    needs: [gauge-version]
    steps:
      - uses: actions/checkout@v6
      - run: git fetch --prune --unshallow

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip' # caching pip dependencies

      - name: Fetch gauge version
        uses: actions/download-artifact@v6
        with:
          name: gauge-version
          path: .

      - name: Set gauge version
        run: echo "GAUGE_VERSION=`cat version.txt`" >> $GITHUB_ENV

      - name: Deploy to pypi
        env:
          GAUGE_PACKAGE_NAME: getgauge-cli
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          cd build/pip
          pip install -r requirements.txt
          python build.py --dist
          gauge_package=`ls dist/${GAUGE_PACKAGE_NAME//-/_}-$GAUGE_VERSION.tar.gz`
          python -m twine upload --non-interactive $gauge_package

  npm-release:
    runs-on: ubuntu-latest
    needs: [gauge-version]
    steps:
      - uses: actions/checkout@v6
      - run: git fetch --prune --unshallow

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: 'build/npm/package-lock.json'
          registry-url: 'https://registry.npmjs.org'

      - name: Fetch gauge version
        uses: actions/download-artifact@v6
        with:
          name: gauge-version
          path: .

      - name: Set gauge version
        run: echo "GAUGE_VERSION=`cat version.txt`" >> $GITHUB_ENV

      - name: Setup Git User
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"

      - name: Deploy npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd build/npm
          npm version $GAUGE_VERSION
          npm publish --access=public

  choco-release:
    runs-on: windows-latest
    needs: [gauge-version, windows-package]
    steps:
      - uses: actions/checkout@v6
      - run: git fetch --prune --unshallow

      - name: Fetch gauge version
        uses: actions/download-artifact@v6
        with:
          name: gauge-version
          path: .

      - uses: actions/download-artifact@v6
        with:
          name: gauge-windows-artifact
          path: ./deploy

      - name: Set gauge version
        run: echo "GAUGE_VERSION=`cat version.txt`" >> $GITHUB_ENV
        shell: bash

      - name: Clone chocolatey-packages
        run: |
          git clone https://github.com/getgauge/chocolatey-packages

      - name: Deploy to Gauge $GAUGE_VERSION to choco
        env:
          API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          cd chocolatey-packages
          $Env:GAUGE_VERSION | Set-Content version
          cd gauge
          ./package.ps1
          choco push "gauge.$Env:GAUGE_VERSION.nupkg" --apikey=$Env:API_KEY --source=https://push.chocolatey.org/
