name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    name: UTs ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test
        run: go run build/make.go --test --verbose

  lsp-tests:
    needs: tests
    name: lsp-tests ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Set up Nodejs
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build
        run: |
          go run build/make.go --verbose

      - name: Clone LSP tests
        run: |
          git clone https://github.com/getgauge/gauge-lsp-tests
          cd gauge-lsp-tests
          npm install

      - name: Install Gauge (windows)
        if: matrix.os == 'windows-latest'
        run: |
          go run build/make.go --install  --verbose
          echo "::add-path::C:\\Program Files\\gauge\\bin"


      - name: Install Gauge (linux)
        if: matrix.os != 'windows-latest'
        run: |
          go run build/make.go --install --prefix=/tmp/gauge --verbose
          echo "::add-path::/tmp/gauge/bin"

      - name: Add js_simple template
        run: |
          gauge template js_simple https://github.com/getgauge/template-js-simple/releases/latest/download/js_simple.zip

      - name: Prep gauge-js
        run: |
          git clone https://github.com/getgauge/gauge-js.git
          cd gauge-js
          npm install
        shell: bash

      - name: Install gauge-js
        run: |
          cd gauge-js
          npm run installPlugin

      - name: Run lsp-tests
        run: |
          cd gauge-lsp-tests
          gauge install
          gauge run --tags="!knownIssue & (actions_on_project_load | actions_on_file_edit)" --env=js-wd

  functional-tests:
    needs: tests
    name: FTs ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      TAGS: js
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build
        run: go run build/make.go --verbose

      - name: Install Gauge (windows)
        if: matrix.os == 'windows-latest'
        run: |
          go run build/make.go --install  --verbose
          echo "::add-path::C:\\Program Files\\gauge\\bin"

      - name: Install Gauge (linux)
        if: matrix.os != 'windows-latest'
        run: |
          go run build/make.go --install --prefix=/tmp/gauge --verbose
          echo "::add-path::/tmp/gauge/bin"

      - name: Add js_simple template
        run: |
          gauge template js_simple https://github.com/getgauge/template-js-simple/releases/latest/download/js_simple.zip

      - name: Clone gauge-java
        run: |
          git clone https://github.com/getgauge/gauge-java

      - name: Install Gauge Java plugin from source
        if: matrix.os != 'windows-latest'
        run: |
          cd gauge-java
          ./build.sh forceinstall

      - name: Install Gauge Java plugin from source
        if: matrix.os == 'windows-latest'
        run: |
          cd gauge-java
          ./build.ps1 forceinstall

      - name: Install Gauge Java maven package locally
        run: |
          cd gauge-java
          mvn -q install -DskipTests -"Dgpg.skip" -D"maven.javadoc.skip=true"

      - name: Prep gauge-js
        run: |
          git clone https://github.com/getgauge/gauge-js.git
          cd gauge-js
          npm install
        shell: bash

      - name: Install gauge-js
        run: |
          cd gauge-js
          npm run installPlugin

      - name: Prep html-report
        run: |
          git clone https://github.com/getgauge/html-report
          cd html-report
          go run build/make.go && go run build/make.go --install
        shell: bash


      - name: Prep FTs
        run: |
          git clone https://github.com/getgauge/gauge-tests -b template-failure-assertion
          cd gauge-tests
          gauge install

      - name: Install gauge and Run FTs (windows)
        if: matrix.os == 'windows-latest'
        run: |
          cd gauge-tests
          .\gradlew.bat clean jsFT
        shell: pwsh

      - name: Install gauge and Run FTs (linux/osx)
        if: matrix.os != 'windows-latest'
        run: |
          cd gauge-tests
          ./gradlew clean jsFT

      - name: Upload logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: ft-logs-${{ matrix.os }}
          path: gauge-tests/logs

  build:
    name: Build ${{ matrix.os }} artifacts
    runs-on: ${{ matrix.os }}
    needs: [ functional-tests, lsp-tests ]
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build distro for ${{ matrix.os }}
        run: go run build/make.go  && go run build/make.go --distro

      - name: Upload artifacts for ${{ matrix.os }}
        uses: actions/upload-artifact@v1
        with:
          name: gauge-artifact-for-${{ matrix.os }}
          path: deploy